.icono{
}
ion-button{
    height: 100%;
    width: 100%;
}

ion-searchbar{
    --placeholder-opacity: 100%;
    --placeholder-color:  grey;
    --cancel-button-color: #0cd1e8;
    --icon-color: #0cd1e8;
}