<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="schedule" routerLink ="">
      <ion-icon name="alarm"></ion-icon>
      <ion-label>Ultimos</ion-label>
      <ion-badge></ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="speakers" routerLink ="">
      <ion-icon name="compass"></ion-icon>
      <ion-label>Descubrir</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="albums" routerLink = "">
      <ion-icon name="albums"></ion-icon>
      <ion-label>Mis Bibliotecas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings"  routerLink = "">
      <ion-icon name="settings"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>