ion-content{
    --padding-bottom: 15%;
    --padding-top: 15%;
    --padding-end: 0%;
    --padding-start: 0%;
}

.botones{
   
    padding-top: 10% ;
    padding-bottom: 1%;
}

ion-content{
    --padding-bottom: 15%;
    --padding-top: 15%;
    --padding-end: 0%;
    --padding-start: 0%;
    --background: none;
}

.botones{
   
    padding-top: 10% ;
    padding-bottom: 1%;
}

img{
    text-align: center;
    max-width: 50%;
    border: 0;
    display: block;
    margin: auto;
    padding-bottom: 3ch;
}

.background {
    background-image: url('../../../../assets/bg.jpg');
   // background-color: #E5DCA9;
}

.scroll-content {
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
ion-card{
    --background : none;
    --color: rgb(255, 255, 255);
    --background : White;
}

ion-card.card {
    box-shadow: none;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

a, p,
ion-card-header.card-header {
    color: #fff!important;
}

.list > .item-block:first-child {
    border: medium none;
}

.item {
    margin-bottom: 10px;
    background: rgba(255, 255, 255, 0.5);
    border: medium none;

    .text-input{
        color: #fff;
    }

    input::-moz-placeholder  {
        color: #fff!important;
    }

    input:-moz-placeholder {
        color: #fff!important;
    }

    *::-webkit-input-placeholder  {
        color: #fff!important;
    }

    *:-ms-input-placeholder  {
        color: #fff!important;
    }

    *:-moz-placeholder  {
        color: #fff!important;
    }
}

.icon {
    padding-right: 10px;
}

.bottom {
    position: absolute;
    bottom: 0;
}